%h2 Welcome to the Scoresheet!

%p Future home of the Regional Referee Observer website

- if current_user
  %p Welcome, #{current_user.first_name} #{current_user.last_name}. Your email is #{current_user.email} and your region is #{current_user.region.name}
  %a= link_to 'Log Out', destroy_user_session_path, method: :delete
