%h1 #{action_name.titleize} Referee

= form_for(referee, url: submit_path) do |f|
  - if referee.errors.any?
    .errors.bg-danger
      %h3 #{pluralize(referee.errors.count, 'error')} prohibited this from being saved:
      %ul
        - referee.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :region
    = f.select(:region_id, Region.all.map { |r| [r.name, r.id] },
      class: 'form-control', include_blank: true)
  .form-group
    = f.label :epee_rating
    = f.number_field :epee_rating, class: 'form-control'
  .form_group
    = f.label :foil_rating
    = f.number_field :foil_rating, class: 'form-control'
  .form-group
    = f.label :sabre_rating
    = f.number_field :sabre_rating, class: 'form-control'
  .actions
    = f.submit 'Submit', class: 'btn btn-primary'
