%h1 Referees

%a.btn.btn-default{ href: new_referee_path } New Referee
%table.table.table-hover
  %tr
    %th Referee Name
    %th New Report
    %th Section
    %th Foil Rating
    %th Epee Rating
    %th Sabre Rating
    %th Edit
  - referees.each do |referee|
    %tr
      %td= link_to(referee.display_name, referee_path(referee))
      %td= link_to(tag('span', class: 'glyphicon glyphicon-plus'))
      %td= referee.region_name
      %td= referee.epee_rating
      %td= referee.foil_rating
      %td= referee.sabre_rating
      %td= link_to(tag('span', class: 'glyphicon glyphicon-cog'), edit_referee_path(referee))
