%h1= referee.display_name

%table.table
  %tr
    %th Region
    %td= referee.region_name
  %tr
    %th Email
    %td= referee.email
  %tr
    %th Foil Rating
    %td= referee.foil_rating
  %tr
    %th Epee Rating
    %td= referee.epee_rating
  %tr
    %th Sabre Rating
    %td= referee.sabre_rating
