%h1 #{action_name.titleize} Report

= form_for(report, url: submit_path) do |f|
  - if report.errors.any?
    .errors.bg-danger
      %h3 #{pluralize(report.errors.count, 'error')} prohibited this from being saved:
      %ul
        - report.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :referee
    = f.select(:referee_id, Referee.all.order(:last_name).map { |r| [r.display_name, r.id] },
      class: 'form-control', include_blank: true)
  .form-group
    = f.label :rules_knowledge_score
    = f.number_field :rules_knowledge_score, class: 'form-control'
  .form-group
    = f.label :rules_knowledge_comments
    = f.text_area :rules_knowledge_comments, class: 'form-control'
  .form-group
    = f.label :right_of_way_score
    = f.number_field :right_of_way_score, class: 'form-control'
  .form-group
    = f.label :right_of_way_comments
    = f.text_area :right_of_way_comments, class: 'form-control'
  .form-group
    = f.label :strip_control_score
    = f.number_field :strip_control_score, class: 'form-control'
  .form-group
    = f.label :strip_control_comments
    = f.text_area :strip_control_comments, class: 'form-control'
  .actions
    = f.submit 'Submit', class: 'btn btn-primary'
