%h1 Your Reports

%a.btn.btn-default{ href: new_report_path } New Report
%table.table
  %tr
    %th Referee Name
  - reports.each do |report|
    %tr
      %td= link_to(report.referee_display_name, report_path(report.referee))
