%h1 Observation Report for #{report.referee_display_name}
%h3 Written by #{report.author_display_name}

%table.table
  %tr
    %th Rules Knowledge Score
    %td= report.rules_knowledge_score
  %tr
    %th Rules Knowledge Comments
    %td= report.rules_knowledge_comments
  %tr
    %th Right of Way Knowledge Score
    %td= report.right_of_way_score
  %tr
    %th Right of Way Comments
    %td= report.right_of_way_comments
  %tr
    %th Strip Control Score
    %td= report.strip_control_score
  %tr
    %th Strip Control Comments
    %td= report.strip_control_comments
