%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar-collapse-1' },
        'aria-expanded' => false }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path }Scoresheet
    .navbar-collapse.collapse#navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %a{ href: root_path }
            %span.glyphicon.glyphicon-home
            %span.sr-only Home
        %li
          %a{ href: referees_path } Referees
        %li
          %a{ href: reports_path } Reports
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: edit_user_registration_path }
            %span.glyphicon.glyphicon-user
            %span.sr-only My Profile
        %li
          %a{ href: destroy_user_session_path } Log Out
