!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Scoresheet
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    = stylesheet_link_tag 'bootstrap.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    -# stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.container
    = render 'layouts/navbar'
    - if notice.present?
      %p.alert.alert-info= notice
    - if alert.present?
      %p.alert.alert-danger= alert
    = yield
